.header {
  border-bottom: 1px solid #e5e5e5;
}

.data {
    margin: 2em 0 2em 0;
}

.data h5{
    font-weight: bold;
}

.data > div > a{
    font-size: 50px;
    padding: 0px 10px;
}

.popover-content {
    padding: 5px;
}

.popover-content .list-group-item {
	padding: 8px 5px;
}

.list-group-item > .badge{
    margin: 0 1em 0 1em;
}

.alerts-panel {
    max-height: 100px;
    overflow-y: auto;
    padding: 5px;
}

.popover-content ul {
	margin: 0px;
}
