.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2em;
}

.data h5{
    font-weight: bold;
}

.data p{
    font-size: 50px;
    padding: 0px 10px;
}

.popover-content li>* {
	margin-bottom: 5px;
}

.popover-content li>div {
	padding: 0px 5px;
}

.popover-content li>.left {
	float: left;
}

.popover-content li>.right {
	float: right;
}
